	<!DOCTYPE html>
	<html lang="fr-FR" class="no-js">
	<!-- Mirrored from demo.imithemes.com/born-to-give/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jun 2021 23:52:30 GMT -->
	<!-- Added by HTTrack -->
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/><!-- /Added by HTTrack -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta charset="UTF-8"/>
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone=no">

        <!-- =====================================STYLE ET SCRIPT============================================== -->
        <!-- =====================================STYLE ET SCRIPT============================================== -->
        <!-- =====================================STYLE ET SCRIPT============================================== -->
        <!-- =====================================STYLE ET SCRIPT============================================== -->
        <!-- =====================================STYLE ET SCRIPT============================================== -->
        <!-- =====================================STYLE ET SCRIPT============================================== -->
		<link rel="pingback" href="xmlrpc.php"/>
		<link rel="shortcut icon" href="/wp-content/themes/born-to-give/images/favicon.html"/>
		<link rel="apple-touch-icon-precomposed" href="/wp-content/themes/born-to-give/images/apple-iphone.html">
		<link rel="apple-touch-icon-precomposed" sizes="114x114"
			  href="/wp-content/themes/born-to-give/images/apple-iphone-retina.html">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/wp-content/themes/born-to-give/images/apple-ipad.html">
		<link rel="apple-touch-icon-precomposed" sizes="144x144"
			  href="/wp-content/themes/born-to-give/images/apple-ipad-retina.html">
		<title>Groupe Kpn Visa &#8211; Charity Crowdfunding Responsive WordPress Theme</title>
		<meta name='robots' content='max-image-preview:large'/>
		<link rel='dns-prefetch' href='http://www.google.com/'/>
		<link rel='dns-prefetch' href='http://fonts.googleapis.com/'/>
		<link rel='dns-prefetch' href='http://s.w.org/'/>
		<link rel='preconnect' href='https://fonts.gstatic.com/' crossorigin/>
		<link rel="alternate" type="application/rss+xml" title="Groupe Kpn Visa &raquo; Feed" href="/feed/index.html"/>
		<link rel="alternate" type="application/rss+xml" title="Groupe Kpn Visa &raquo; Comments Feed"
			  href="/comments/feed/index.html"/>
		<link rel="alternate" type="application/rss+xml" title="Groupe Kpn Visa &raquo; Home Comments Feed"
			  href="/home/feed/index.html"/>
		<script type="text/javascript">window._wpemojiSettings = {
			"baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/",
			"ext": ".png",
			"svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/",
			"svgExt": ".svg",
			"source": {"concatemoji": "https:\/\/demo.imithemes.com\/born-to-give\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.2"}
		};
		!function (e, a, t) {
			var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d");
	
			function s(e, t) {
				var a = String.fromCharCode;
				p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
				e = i.toDataURL();
				return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
			}
	
			function c(e) {
				var t = a.createElement("script");
				t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
			}
	
			for (o = Array("flag", "emoji"), t.supports = {
				everything: !0,
				everythingExceptFlag: !0
			}, r = 0; r < o.length; r++) t.supports[o[r]] = function (e) {
				if (!p || !p.fillText) return !1;
				switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
					case"flag":
						return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
					case"emoji":
						return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
				}
				return !1
			}(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
			t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () {
				t.DOMReady = !0
			}, t.supports.everything || (n = function () {
				t.readyCallback()
			}, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () {
				"complete" === a.readyState && t.readyCallback()
			})), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
		}(window, document, window._wpemojiSettings);</script>
		<style type="text/css">img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}</style>
		<link rel='stylesheet' id='wp-block-library-css'
			  href='wp-includes/css/dist/block-library/style.min9f31.css?ver=5.7.2' type='text/css' media='all'/>
		<link rel='stylesheet' id='wc-block-vendors-style-css'
			  href='wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style5859.css?ver=4.9.1'
			  type='text/css' media='all'/>
		<link rel='stylesheet' id='wc-block-style-css'
			  href='wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style5859.css?ver=4.9.1'
			  type='text/css' media='all'/>
		<link rel='stylesheet' id='contact-form-7-css'
			  href='wp-content/plugins/contact-form-7/includes/css/stylesc225.css?ver=5.4.1' type='text/css' media='all'/>
		<link rel='stylesheet' id='rs-plugin-settings-css'
			  href='wp-content/plugins/revslider/public/assets/css/rs6a8d6.css?ver=6.4.6' type='text/css' media='all'/>
		<style id='rs-plugin-settings-inline-css' type='text/css'>#rs-demo-id {
		}</style>
		<link rel='stylesheet' id='woocommerce-layout-css'
			  href='wp-content/plugins/woocommerce/assets/css/woocommerce-layout9a8d.css?ver=5.3.0' type='text/css'
			  media='all'/>
		<link rel='stylesheet' id='woocommerce-smallscreen-css'
			  href='wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen9a8d.css?ver=5.3.0' type='text/css'
			  media='only screen and (max-width: 768px)'/>
		<link rel='stylesheet' id='woocommerce-general-css'
			  href='wp-content/plugins/woocommerce/assets/css/woocommerce9a8d.css?ver=5.3.0' type='text/css' media='all'/>
		<style id='woocommerce-inline-inline-css' type='text/css'>.woocommerce form .form-row .required {
			visibility: visible;
		}</style>
		<link rel='stylesheet' id='give-styles-css' href='wp-content/plugins/give/assets/dist/css/give9936.css?ver=2.11.1'
			  type='text/css' media='all'/>
		<link rel='stylesheet' id='charitable-styles-css'
			  href='wp-content/plugins/charitable/assets/css/charitable.minafb2.css?ver=1.6.48' type='text/css'
			  media='all'/>
		<link rel='stylesheet' id='PI_stt_front-css'
			  href='wp-content/plugins/simple-twitter-tweets/css/stt.min9f31.css?ver=5.7.2' type='text/css' media='all'/>
		<link rel='stylesheet' id='js_composer_front-css'
			  href='wp-content/plugins/js_composer/assets/css/js_composer.min31dc.css?ver=6.6.0' type='text/css'
			  media='all'/>
		<link rel='stylesheet' id='bootstrap-css' href='wp-content/themes/born-to-give/assets/css/bootstrap5152.css?ver=1.0'
			  type='text/css' media='all'/>
		<link rel='stylesheet' id='line-icons-css'
			  href='wp-content/themes/born-to-give/assets/css/line-icons5152.css?ver=1.0' type='text/css' media='all'/>
		<link rel='stylesheet' id='font-awesome-css'
			  href='wp-content/themes/born-to-give/assets/css/font-awesome5152.css?ver=1.0' type='text/css' media='all'/>
		<link rel='stylesheet' id='animations-css'
			  href='wp-content/themes/born-to-give/assets/css/animations5152.css?ver=1.0' type='text/css' media='all'/>
		<link rel='stylesheet' id='bootstrap_theme-css'
			  href='wp-content/themes/born-to-give/assets/css/bootstrap-theme5152.css?ver=1.0' type='text/css' media='all'/>
		<link rel='stylesheet' id='borntogive_main-css' href='wp-content/themes/born-to-give-child/style5152.css?ver=1.0'
			  type='text/css' media='all'/>
		<link rel='stylesheet' id='magnific_popup-css'
			  href='wp-content/themes/born-to-give/assets/vendor/magnific/magnific-popup5152.css?ver=1.0' type='text/css'
			  media='all'/>
		<link rel='stylesheet' id='owl-carousel1-css'
			  href='wp-content/themes/born-to-give/assets/vendor/owl-carousel/css/owl.carousel5152.css?ver=1.0'
			  type='text/css' media='all'/>
		<link rel='stylesheet' id='owl-carousel2-css'
			  href='wp-content/themes/born-to-give/assets/vendor/owl-carousel/css/owl.theme5152.css?ver=1.0' type='text/css'
			  media='all'/>
		<link rel='stylesheet' id='theme-colors-css'
			  href='wp-content/themes/born-to-give/assets/colors/color15152.css?ver=1.0' type='text/css' media='all'/>
		<link rel='stylesheet' id='borntogive_fullcalendar-css'
			  href='wp-content/themes/born-to-give/assets/vendor/fullcalendar/fullcalendar5152.css?ver=1.0' type='text/css'
			  media='all'/>
		<link rel='stylesheet' id='borntogive_fullcalendar_print-css'
			  href='wp-content/themes/born-to-give/assets/vendor/fullcalendar/fullcalendar.print5152.css?ver=1.0'
			  type='text/css' media='print'/>
		<link rel="preload" as="style"
			  href="https://fonts.googleapis.com/css?family=Playfair%20Display%7CLato%7CDosis&amp;display=swap&amp;ver=1620732897"/>
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=Playfair%20Display%7CLato%7CDosis&amp;display=swap&amp;ver=1620732897"
			  media="print" onload="this.media='all'">
		<noscript>
			<link rel="stylesheet"
				  href="https://fonts.googleapis.com/css?family=Playfair%20Display%7CLato%7CDosis&amp;display=swap&amp;ver=1620732897"/>
		</noscript>
		<link rel='stylesheet' id='sw-base-css'
			  href='wp-content/plugins/imi-style-switcher/css/style-switcher5152.css?ver=1.0' type='text/css' media='all'/>
		<link rel='stylesheet' id='sw-color-css' href='wp-content/themes/born-to-give/assets/colors/color15152.css?ver=1.0'
			  type='text/css' media='all'/>
		<script type='text/javascript' src='wp-includes/js/jquery/jquery.min9d52.js?ver=3.5.1' id='jquery-core-js'></script>
		<script type='text/javascript' id='charitable-sessions-js-extra'>var CHARITABLE_SESSION = {
			"ajaxurl": "https:\/\/demo.imithemes.com\/born-to-give\/wp-admin\/admin-ajax.php",
			"id": "",
			"cookie_name": "charitable_session",
			"expiration": "86400",
			"expiration_variant": "82800",
			"secure": "",
			"cookie_path": "\/",
			"cookie_domain": "",
			"generated_id": "a56f50dab30fec33607c09bb86136f6c",
			"disable_cookie": ""
		};</script>
		<script type='text/javascript' id='wc-add-to-cart-js-extra'>var wc_add_to_cart_params = {
			"ajax_url": "\/born-to-give\/wp-admin\/admin-ajax.php",
			"wc_ajax_url": "\/born-to-give\/?wc-ajax=%%endpoint%%",
			"i18n_view_cart": "View cart",
			"cart_url": "https:\/\/demo.imithemes.com\/born-to-give",
			"is_cart": "",
			"cart_redirect_after_add": "no"
		};</script>
		<script type='text/javascript' id='give-js-extra'>var give_global_vars = {
			"ajaxurl": "https:\/\/demo.imithemes.com\/born-to-give\/wp-admin\/admin-ajax.php",
			"checkout_nonce": "deddbb8880",
			"currency": "USD",
			"currency_sign": "$",
			"currency_pos": "before",
			"thousands_separator": ",",
			"decimal_separator": ".",
			"no_gateway": "Please select a payment method.",
			"bad_minimum": "The minimum custom donation amount for this form is",
			"bad_maximum": "The maximum custom donation amount for this form is",
			"general_loading": "Loading...",
			"purchase_loading": "Please Wait...",
			"textForOverlayScreen": "<h3>Processing...<\/h3><p>This will only take a second!<\/p>",
			"number_decimals": "2",
			"is_test_mode": "1",
			"give_version": "2.11.1",
			"magnific_options": {"main_class": "give-modal", "close_on_bg_click": false},
			"form_translation": {
				"payment-mode": "Please select payment mode.",
				"give_first": "Please enter your first name.",
				"give_email": "Please enter a valid email address.",
				"give_user_login": "Invalid email address or username.",
				"give_user_pass": "Enter a password.",
				"give_user_pass_confirm": "Enter the password confirmation.",
				"give_agree_to_terms": "You must agree to the terms and conditions."
			},
			"confirm_email_sent_message": "Please check your email and click on the link to access your complete donation history.",
			"ajax_vars": {
				"ajaxurl": "https:\/\/demo.imithemes.com\/born-to-give\/wp-admin\/admin-ajax.php",
				"ajaxNonce": "99813d20d1",
				"loading": "Loading",
				"select_option": "Please select an option",
				"default_gateway": "manual",
				"permalinks": "1",
				"number_decimals": 2
			},
			"cookie_hash": "bfa341beb7ecee12e64308137e0d863b",
			"session_nonce_cookie_name": "wp-give_session_reset_nonce_bfa341beb7ecee12e64308137e0d863b",
			"session_cookie_name": "wp-give_session_bfa341beb7ecee12e64308137e0d863b",
			"delete_session_nonce_cookie": "0"
		};
		var giveApiSettings = {
			"root": "https:\/\/demo.imithemes.com\/born-to-give\/wp-json\/give-api\/v2\/",
			"rest_base": "give-api\/v2"
		};</script>
		<link rel="https://api.w.org/" href="/wp-json/index.html"/>
		<link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/1547.json"/>
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd"/>
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml"/>
		<link rel="canonical" href="index.html"/>
		<link rel='shortlink' href='index.html'/>
		<link rel="alternate" type="application/json+oembed"
			  href="/wp-json/oembed/1.0/embed350b.json?url=https%3A%2F%2Fdemo.imithemes.com%2Fborn-to-give%2F"/>
		<link rel="alternate" type="text/xml+oembed"
			  href="/wp-json/oembed/1.0/embedb9aa?url=https%3A%2F%2Fdemo.imithemes.com%2Fborn-to-give%2F&amp;format=xml"/>
		<meta name="framework" content="Redux 4.1.26"/>
		<meta name="generator" content="Give v2.11.1"/>

		<style type="text/css">@media (min-width: 1200px) {
			.container {
				width: 1170 pxpx;
			}
		}
	
		body.boxed .body, body.boxed .vc_row-no-padding {
			max-width: 1200px !important;
		}
	
		@media (min-width: 1200px) {
			body.boxed .site-header {
				width: 1200px;
				margin-left: -600px;
			}
		}
	
		.content {
			min-height: 400px
		}
	
		.page-banner {
			min-height: 300px
		}
	
		.page-banner .block-title:before, .page-banner .block-title:after {
			display: block;
		}
	
		.page-banner .block-title {
			margin-bottom: 40px;
		}
	
		.campaign-progress-wrap {
			display: block !important
		}
	
		.page-banner .block-title:before, .page-banner .block-title:after {
			background:;
		}
	
		.header-style1 .header-info-col, .header-style1 .search-module-trigger, .header-style1 .cart-module-trigger, .header-style2 .search-module-trigger, .header-style2 .cart-module-trigger {
			margin-top: 12px;
		}
	
		.dd-menu {
			top: 73px;
		}
	
		/*========== User Custom CSS Styles ==========*/
		#header {
			margin: 0 auto;
		}
	
		.accent-bg .vc_general.vc_cta3.vc_cta3-color-classic.vc_cta3-style-flat {
			background-color: inherit !important;
		}
	
		#stories-slider .story-slider-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	
		#charitable-donation-form .donation-amounts .donation-amount input[type="radio"] {
			display: inline-block;
			position: relative;
			top: -2px;
		}
	
		.single-campaign #charitable-donation-form .donation-amounts .donation-amount input[type="radio"] {
			display: none;
		}
	
		#charitable-donation-form .donation-amounts .custom-donation-amount .custom-donation-input {
			display: block;
		}
	
		#charitable-donation-form .donation-amounts .custom-donation-amount label .description {
			display: inline-block;
		}
	
		.single-campaign #charitable-donation-form .donation-amounts .custom-donation-amount label .description {
			display: block;
		}
	
		.donation-summary {
			list-style-type: none;
			margin-left: 0;
			margin-bottom: 15px;
			width: 300px;
		}
	
		.donation-summary li {
			padding: 10px 0;
			border-bottom: 1px dashed #ddd;
		}
	
		.donation-summary li span {
			float: right;
			font-weight: 700;
		}
	
	
		html .page-id-618 .content, html .page-id-612 .content {
			padding: 0 !important;
		}
	
		.page-id-618 .social-share-bar, .page-id-612 .social-share-bar {
			display: none;
		}
	
		.megamenu-container .widgettitle {
			text-align: left;
		}
	
		.vc_cta3 .vc_custom_heading {
			margin-bottom: 0 !important;
		}
	
		.dd-menu .megamenu-container ul li a {
			padding: 0;
			border-bottom: 0;
			white-space: normal;
		}
	
		.vc_row-no-padding .owl-carousel {
			margin-left: 0;
		}
	
		.vc_row-no-padding .owl-carousel .owl-wrapper-outer {
			width: 100% !important;
		}
	
		.vc_row-no-padding .owl-carousel .item {
			margin-left: 0;
		}
	
		.vc_row-no-padding .grid-item-inner {
			border: 0;
		}
	
		.vc_row-no-padding .carousel-wrapper .row {
			margin-left: 0;
			margin-right: 0;
		}
	
		.owl-carousel .cause-grid-item:hover .donate-button {
			bottom: -74px;
		}
	
		.charitable-form-field input[type="checkbox"], .charitable-form-field input[type="radio"] {
			display: inline-block;
			padding: 0;
			line-height: auto;
			height: auto;
			margin-right: 5px;
			position: relative;
			top: -1px;
		}
	
		#charitable-campaign-submission-form .charitable-form-fields .charitable-fieldset {
			padding: 0;
			border: 0;
		}
	
		#charitable-campaign-submission-form #charitable_field_recipient .charitable-recipient-type {
			padding: 15px;
			margin-bottom: 5px;
			margin-top: 5px;
			cursor: pointer;
			display: block;
			border: 1px solid #eee;
		}
	
		#charitable-campaign-submission-form #charitable_field_recipient .charitable-recipient-type p {
			margin-bottom: 0;
		}
	
		.charitable-form code {
			color: #999;
		}
	
		.charitable-submit-field {
			padding: 0;
		}
	
		#charitable-registration-form .button-primary {
			margin-top: 20px;
		}
	
		#charitable-campaign-submission-form #charitable_field_recipient .charitable-recipient-type.selected, #charitable-campaign-submission-form #charitable_field_recipient .charitable-recipient-type.selected h4 {
			color: #fff;
		}
	
		.donation-summary {
			list-style-type: none;
			margin-left: 0;
			margin-bottom: 15px;
			width: 450px;
			color: #fff;
			padding: 40px;
			display: inline-block;
		}
	
		.donation-summary dd {
			padding: 10px 0;
			width: 50%;
			float: left;
			border-bottom: 1px dashed #fff
		}
	
		.donation-summary dt {
			padding: 10px 0;
			width: 50%;
			float: left;
			margin-right: 0;
			border-bottom: 1px dashed #fff
		}
	
		.testimonial-img-size .owl-carousel .owl-item img {
			width: auto;
		}
	
		.born-to-give-custom-heading.vc_custom_heading::after,
		.born-to-give-custom-heading.vc_custom_heading::before {
			display: none;
		}
	
		.born-to-give-post-heading .vc_custom_heading {
			margin-bottom: 30px;
		}
	
		.born-to-give-post-heading .vc_custom_heading::after,
		.born-to-give-post-heading .vc_custom_heading::before {
			display: none;
		}
	
		.bg-overlay-black {
			position: relative;
		}
	
		.bg-overlay-black:before {
			content: '';
			background: #000;
			opacity: 0.4;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}
	
		@media screen and (max-width: 767px) {
			.flex-caption-text h2 {
				font-size: 30px;
				line-height: 1.1;
				margin-top: 30px;
				margin-bottom: 10px;
			}
	
			.dd-menu > li.megamenu {
				position: relative !important;
			}
		}
	
		.carousel-wrapper {
			background: none;
		}
	
		/* Comment for space */</style>
		<style id="charitable-highlight-colour-styles">.campaign-raised .amount, .campaign-figures .amount, .donors-count, .time-left, .charitable-form-field a:not(.button), .charitable-form-fields .charitable-fieldset a:not(.button), .charitable-notice, .charitable-notice .errors a {
			color: #f89d35;
		}
	
		.campaign-progress-bar .bar, .donate-button, .charitable-donation-form .donation-amount.selected, .charitable-donation-amount-form .donation-amount.selected {
			background-color: #f89d35;
		}
	
		.charitable-donation-form .donation-amount.selected, .charitable-donation-amount-form .donation-amount.selected, .charitable-notice, .charitable-drag-drop-images li:hover a.remove-image, .supports-drag-drop .charitable-drag-drop-dropzone.drag-over {
			border-color: #f89d35;
		}</style>
		<noscript>
			<style>.woocommerce-product-gallery {
				opacity: 1 !important;
			}</style>
		</noscript>
		
		<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
		<meta name="generator"
			  content="Powered by Slider Revolution 6.4.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."/>
		<script type="text/javascript">function setREVStartSize(e) {
			//window.requestAnimationFrame(function() {
			window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW;
			window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH;
			try {
				var pw = document.getElementById(e.c).parentNode.offsetWidth,
					newh;
				pw = pw === 0 || isNaN(pw) ? window.RSIW : pw;
				e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
				e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
				e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
				e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
				e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
				e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
				e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
				if (e.layout === "fullscreen" || e.l === "fullscreen")
					newh = Math.max(e.mh, window.RSIH);
				else {
					e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
					for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
					e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
					e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
					for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];
	
					var nl = new Array(e.rl.length),
						ix = 0,
						sl;
					e.tabw = e.tabhide >= pw ? 0 : e.tabw;
					e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
					e.tabh = e.tabhide >= pw ? 0 : e.tabh;
					e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
					for (var i in e.rl) nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i];
					sl = nl[0];
					for (var i in nl) if (sl > nl[i] && nl[i] > 0) {
						sl = nl[i];
						ix = i;
					}
					var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
					newh = (e.gh[ix] * m) + (e.tabh + e.thumbh);
				}
				if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
				document.getElementById(e.c).height = newh + "px";
				window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
			} catch (e) {
				console.log("Failure at Presize of Slider:" + e)
			}
			//});
		};</script>
		<style id="borntogive_options-dynamic-css" title="dynamic-css" class="redux-options-output">.content {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	
		.header-style1 .header-info-col {
			font-display: swap;
		}
	
		.page-banner {
			background-color: #404040;
		}
	
		.page-banner h1, .page-banner-text {
			font-display: swap;
		}
	
		.site-logo {
			padding-top: 23px;
			padding-right: 0px;
			padding-bottom: 20px;
			padding-left: 0px;
		}
	
		.header-style1 .dd-menu > li, .header-style2 .dd-menu > li {
			margin-top: 12px;
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 25px;
		}
	
		.dd-menu > li > a {
			font-display: swap;
		}
	
		.dd-menu > li > ul > li > a, .dd-menu > li > ul > li > ul > li > a, .dd-menu > li > ul > li > ul > li > ul > li > a {
			padding-top: 12px;
			padding-right: 20px;
			padding-bottom: 12px;
			padding-left: 20px;
		}
	
		.dd-menu > li > ul > li > a, .dd-menu > li > ul > li > ul > li > a, .dd-menu > li > ul > li > ul > li > ul > li > a {
			font-display: swap;
		}
	
		.dd-menu .megamenu-container .megamenu-sub-title, .dd-menu .megamenu-container .widgettitle, .dd-menu .megamenu-container .widget-title {
			font-display: swap;
		}
	
		.dd-menu .megamenu-container {
			font-display: swap;
		}
	
		#menu-toggle {
			line-height: 50px;
			font-size: 24px;
			font-display: swap;
		}
	
		#menu-toggle {
			margin-top: 12px;
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 25px;
		}
	
		.smenu-opener {
			height: 51px;
			width: 75px;
		}
	
		.smenu-opener {
			line-height: 51px;
			font-size: 16px;
			font-display: swap;
		}
	
		.site-footer {
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center top;
			background-image: url('wp-content/uploads/sites/15/2016/04/parallax3.jpg');
			background-size: cover;
		}
	
		.site-footer {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	
		.footer_widget h4.widgettitle, .footer_widget h4.widget-title {
			font-display: swap;
		}
	
		.site-footer .footer_widget {
			font-display: swap;
		}
	
		.site-footer-bottom {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	
		.site-footer-bottom {
			font-display: swap;
		}
	
		.social-share-bar .share-title {
			line-height: 30px;
			font-display: swap;
		}
	
		.social-share-bar li a {
			height: 30px;
			width: 30px;
		}
	
		.social-share-bar li a {
			line-height: 30px;
			font-size: 14px;
			font-display: swap;
		}
	
		h1, h2, h3, h4, h5, h6, .featured-link strong, .featured-text strong {
			font-family: "Playfair Display";
			font-display: swap;
		}
	
		body, .widget h5 {
			font-family: Lato;
			font-display: swap;
		}
	
		.event-date {
			font-family: Dosis;
			font-display: swap;
		}
	
		body {
			font-display: swap;
		}
	
		h1 {
			font-display: swap;
		}
	
		h2 {
			font-display: swap;
		}
	
		h3 {
			font-display: swap;
		}
	
		h4 {
			font-display: swap;
		}
	
		h5 {
			font-display: swap;
		}
	
		h6 {
			font-display: swap;
		}</style>
		<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1459250962842 {
			background-color: #f7f7f7 !important;
		}</style>
		<noscript>
			<style>.wpb_animate_when_almost_visible {
				opacity: 1;
			}</style>
		</noscript>
	</head>
	
	<body class="home page-template-default page page-id-1547  header-style1 theme-born-to-give woocommerce-no-js give-test-mode give-page wpb-js-composer js-comp-ver-6.6.0 vc_responsive">
	
	<style type="text/css">
		.hero-area {
			display: block;
		}
	
		.social-share-bar {
			display: none;
		}
	
		.page-banner h1, .page-banner-text {
			display: block;
		}
	
		.content {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	
		body.boxed {
		}
	
		.content {
		}
	</style>
	<!-- =====================================CONTENU============================================== -->
	<!-- =====================================CONTENU============================================== -->
	<!-- =====================================CONTENU============================================== -->
	<!-- =====================================CONTENU============================================== -->
	<!-- =====================================CONTENU============================================== -->
	<!-- =====================================CONTENU============================================== -->
	<div class="body">
		<div class="site-header-wrapper">
			<header class="site-header">
				<div class="container">
					<div class="site-logo">
                        <a href="/" class="default-logo">
                            <img src="/images/logo.png" alt="Groupe Kpn Visa" width="50"  />
                        </a>
                         <a href="index.html" class="default-retina-logo">
                             <img src="/images/logo.png" alt="Groupe Kpn Visa" width="50" >
                        </a> 
                        <a href="index.html" class="sticky-logo">
                            <img src="/images/logo.png" alt="Groupe Kpn Visa" width="50" >
                        </a> 
                        <a href="index.html" class="sticky-retina-logo">
                            <img src="/images/logo.png" alt="Groupe Kpn Visa"
							width="50" >
                        </a>
                    </div>
					<a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
					<div class="header-info-col"><i class="fa fa-phone"></i> +225 27-23-23-23</div>

					<style>.megamenu-sidebar .widget {
						width: 21%;
						float: left;
					}
	
					.megamenu-sub-title-hide {
						display: none !important;
						visibility: hidden !important
					}</style>
					<ul id="menu-primary-menu" class="sf-menu dd-menu pull-right">
						<li class="menu-item-1549 menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1547 current_page_item current-menu-ancestor current_page_ancestor menu-item-has-children ">
							<a href="/">Accueil<span class="nav-line"></span></a>
						</li>
						
<!-- 						
							<li class="menu-item-1551 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
								<a href="/se-connecter">Investir<span class="nav-line"></span></a>
							</li>
							
							<li class="menu-item-1556 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
								<a href="/se-connecter">Creer une collecte<span class="nav-line"></span></a>
							</li>
							 -->

							<% if( connecter==null ){  %>
								<li class="menu-item-1556 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
									<a href="/se-connecter">Se connecter<span class="nav-line"></span></a>
								</li>
							<% }else if(connecter=="investisseur"){ %>
								<li class="menu-item-1556 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
									<a href="/espace-investisseur/tableau-de-bord">Mon Espace<span class="nav-line"></span></a>
								</li>
							<% }else if(connecter=="moderateur"){ %>
								<li class="menu-item-1556 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
									<a href="/espace-moderateur/tableau-de-bord">Mon Espace<span class="nav-line"></span></a>
								</li>
							<% }else{ %>
								<li class="menu-item-1556 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children ">
									<a href="/espace-porteur/tableau-de-bord">Mon Espace<span class="nav-line"></span></a>
								</li>
							<% }  %>
						
							
					</ul>
				</div>
			</header>
		</div>