<%- include("../_partials/_header.ejs") %>

    	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="/traitement/connexion">
					<span class="login100-form-title p-b-43">
						CONNEXION
					</span>
					
					<% if(error && error.length >0){ %>
						<div class="alert alert-danger text-center" role="alert">
							<%= error %>
						</div>
					<% } %>

					
					<% if(info && info.length >0){ %>
						<div class="alert alert-info text-center" role="alert">
							<%= info %>
						</div>
					<% } %>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="mot_de_passe">
						<span class="focus-input100"></span>
						<span class="label-input100">Mot de passe</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div>
							<a href="#" class="txt1">
								Mot de passe oublié?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Me connecter
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							<a href="/inscription"> où inscrivez-vous </a>
						</span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="text-left">
							<a href="/" class="txt1">
								Retour a l'accueil
							</a>
						</div>
						<div class="text-right">
							<br/>
							<a href="/connexion-moderateur" class="txt1">
								Administrateur
							</a>
						</div>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('images/financement.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

<%- include("../_partials/_footer.ejs") %>