<%- include("../_partials/_header.ejs") %>

    	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="/traitement/inscription">
					<span class="login100-form-title p-b-43">
						Inscription
						<br/>		
						<a href="/se-connecter"> où connectez-vous </a>
					</span>
					<% if(error && error.length >0){ %>
						<div class="alert alert-danger text-center" role="alert">
							<%= error %>
						</div>
					<% } %>

					
					<div class="wrap-input50 validate-input" data-validate = "Quel type d'utilisateur etes vous ?">
						<select name="type" class="input100">
							<option value> Qui etes vous </option>
							<option value="investisseur"> Un Investisseur </option>
							<option value="porteur_de_projet">Un Porteur de projet </option>
						</select>
					</div>
					<br/>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="nom_complet">
						<span class="focus-input100"></span>
						<span class="label-input100">Nom complet</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="telephone">
						<span class="focus-input100"></span>
						<span class="label-input100">Telephone</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="mot_de_passe">
						<span class="focus-input100"></span>
						<span class="label-input100">Mot de passe</span>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Inscription
						</button>
					</div>
					
				</form>

				<div class="login100-more" style="background-image: url('images/financement.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

<%- include("../_partials/_footer.ejs") %>